@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&display=swap");
* {
  text-decoration: none !important;
}

aside {
  background-color: #ed5828;
  height: 100vh;
}

.foto-perfil {
  border-color: #ff926e !important;
  width: 180px;
}

.menu-option {
  font-size: 20px;
  list-style-type: none;
  font-family: "Montserrat";
}
.menu-option:hover {
  text-shadow: 1px 1px #ccc;
  font-size: 21px;
}

.menu-option a:active {
  color: #ffc5b1 !important;
}

.name {
  font-size: 90px;
  font-family: Oswald;
  color: #363636;
}

.sobrenome {
  color: #ed5828;
}

address a {
  color: #ed5828;
}

address {
  font-style: normal;
  font-family: Oswald;
  color: #363636;
}

#descricao {
  font-family: Montserrat;
  color: #363636;
  font-size: 16px;
}

.fa-brands {
  color: #444444;
  text-shadow: 2px 2px #cccccc;
}
.fa-brands:hover {
  color: #000b6e;
}

.conhecimentos {
  font-family: Montserrat;
  color: #363636;
}

.titulo {
  font-family: Oswald;
  font-size: 60px;
  color: #363636;
}

.objetivos {
  font-family: Montserrat;
  color: #363636;
  list-style-position: inside;
}

.objetivos li {
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .aside {
    height: 40vh;
  }
  .main {
    height: 60vh;
    text-align: center;
  }
  .menu-option {
    font-size: 15px;
  }
  .name {
    font-size: 40px;
  }
  .address {
    font-size: 15px !important;
  }
  .article {
    font-size: 14px !important;
  }
  .titulo {
    font-size: 40px;
  }
  .objetivos {
    font-size: 17px !important;
  }
}
